div {
    margin: auto;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
}

.square {
    height: 50px;
    width: 50px;
    border-radius: 3pt;
    background-color: #555;
}
