---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Games - Jasper Morgal" activePage="games">
  <h1>Games</h1>
  <p>
    <a href="/games/tictactoe">Tic Tac Toe</a>
  </p>
  <p>
    <a href="/games/jump">Jump Game</a>
  </p>
  <p>
    <a href="/games/pfc">Prime Factorization Challenge</a>
  </p>
</Layout>
