---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="PFC01 - Jasper Morgal">
  <h1>PFC<span id="challenge_num">01</span></h1>
  <p id="factor_text">Please enable javascript</p>
  <form id="form">
    <p><input name="num_0" autocomplete="off" style="width: 200px;" /></p>
    <p><input name="num_1" autocomplete="off" style="width: 200px;" /></p>
    <p><button type="submit" id="check">Check</button></p>
  </form>
  <p id="info"></p>
  <script is:inline src="/games/pfc.js"></script>
</Layout>
