---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Y - Jasper Morgal">
  <h1>Y</h1>
  <canvas id="board"></canvas>
  <p id="status">Red's turn</p>
  <p id="swap-container"></p>
  <p class="pointer" id="newgame">New game</p>
  <p><a href="/y">Play against computer</a></p>
  <script>
    import "@/scripts/y-friend";
  </script>
</Layout>

<style>
  p {
    font-family: "Menlo", monospace;
  }
  canvas {
    display: block;
    width: min(100%, 62vh);
    aspect-ratio: 1 / 1;
    margin: 0 auto;
  }
</style>
