button {
    color: black;
    background-color: white;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
    input {
        background-color: #202020;
        color: white;
    }
    
    button {
        color: #B4B4B4;
        background-color: #202020;
        border: 1px solid #383838;
    }
}
