body {
    text-align: center;
}

h1 {
    color: green;
}

a {
    color: blue;
    text-decoration: none;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(208, 208, 208);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(16, 16, 16);
        color: rgb(180, 180, 180);
    }
    
    hr {
        background-color: rgb(56, 56, 56);
    }
}
