body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    color: green;
}

a {
    color: blue;
    text-decoration: none;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(208, 208, 208);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(26, 26, 26);
        color: rgb(180, 180, 180);
    }
    
    hr {
        background-color: rgb(56, 56, 56);
    }
}
