---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Dozenal Time - Jasper Morgal">
    <h1>Dozenal Time</h1>
    <p style="font-size: 14pt; font-family: Menlo, monospace;" id="time"></p>
    <p><a href="/projects/time/dozenal-time-info">info</a></p>
    <div id="type" hidden>regular</div>
    <script is:inline src="/projects/time/dozenal-time.js"></script>
</Layout>
