---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Dozenal Time Info - Jasper Morgal">
    <h1>Dozenal Time Info</h1>
    <p>Dozenal time is a version of 24 hour time that is meant to be easier to understand by people who are used to 12 hour time.</p>
    <p>The only difference from 24 hour time is that the hours are represented in dozenal (base twelve) instead of decimal (base ten).</p>
    <p>To read dozenal time, just use the first digit to determine AM or PM (0 is AM and 1 is PM), and the second digit to see the regular 12 hour time you are used to using.</p>
    <p>However, because dozanal has twelve digits we need to represent ten and eleven with their own digits; we use X for ten because of Roman Numerals, and E for eleven because that's the first letter.</p>
    <p>Example: 1X:34 in dozenal time is 22:34 in 24 hour time and 10:34 PM in 12 hour time.</p>
    <p><a href="/projects/time/dozenal-time">back</a></p>
</Layout>
