---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Ordinal Date & Time Info - Jasper Morgal">
  <h1>Ordinal Date & Time Info</h1>
  <p>The first number shown here is the year from the Gregorian calendar after the start of the Common Era (CE).</p>
  <p>The second number is the ordinal date of the year, starting at 001 on the first day of the year and going to 365 on regular years, or 366 on leap years.</p>
  <p>After the space there is the standard 24 hour time in your local time zone taken from the system time on your device.</p>
  <p><a href="/projects/time/ordinal-date-time">back</a></p>
</Layout>
