---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Ordinal Date & Time - Jasper Morgal">
    <h1>Ordinal Date & Time</h1>
    <p style="font-size: 14pt; font-family: Menlo, monospace;" id="time"></p>
    <p><a href="/projects/time/ordinal-date-time-info">info</a></p>
    <script is:inline src="/projects/time/date-time.js"></script>
</Layout>
