---

---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline src="/projects/time/percent-time.js"></script>
  </head>
  <body>
    <p id="time"></p>
    <div id="type" hidden>regular</div>
  </body>
</html>
