---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Seximal Time - Jasper Morgal">
  <h1>Seximal Time</h1>
  <p style="font-size: 14pt; font-family: Menlo, monospace;" id="time"></p>
  <script is:inline src="/projects/time/seximal-time.js"></script>
</Layout>
