---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Age of the Universe - Jasper Morgal">
    <h1>Age of the Universe</h1>
    <p id="age" style="font-family: Menlo, monospace;">Enable javascript</p>
    <p><a href="/projects/time/universe-age-info">info</a></p>
    <script is:inline src="/projects/time/universe-age.js"></script>
</Layout>
