---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Age of the Universe Info - Jasper Morgal">
    <h1>Age of the Universe Info</h1>
    <p>The age of the universe shown here is based on <a href="https://lambda.gsfc.nasa.gov/education/graphic_history/age.html">this estimate</a>.</p>
    <p>The <a href="https://en.wikipedia.org/wiki/Holocene_calendar">holocene calendar</a> year and the time in UTC is added to this to keep it ticking in real time.</p>
    <p>Disclaimer: this is a very inaccurate estimate and could be off by a few hundred million years.</p>
    <p><a href="/projects/time/universe-age">back</a></p>
</Layout>
