---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Strobe Light Party - Jasper Morgal" faviconPath="/strobe-party">
    <h1>Strobe Light Party</h1>
    <p>Use your device's flashlight as a strobe and sync it effortlessly with your friends' devices.</p> 
    <p>Add your flash to the party!</p>
    <p>
        <a href="https://apps.apple.com/app/id6504585828" class="styled-button">Download</a>
    </p>
    <p>
        <a href="/strobe-party/support">FAQ & Support</a>
    </p>
    <p>
        <a href="/strobe-party/privacy">Privacy Policy</a>
    </p>
</Layout>

<style>
    .styled-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #007BFF;
        border: none;
        border-radius: 12px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .styled-button:hover {
        background-color: #0056b3;
    }
</style>
