---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Strobe Light Party - Jasper Morgal">
  <h1>Strobe Light Party</h1>
  <p>Use your device's flashlight as a strobe and sync it effortlessly with your friends' devices.</p>
  <p>Add your flash to the party!</p>
  <p>
    <a href="https://apps.apple.com/app/id6504585828" class="styled-button">Download</a>
  </p>
  <p>
    <a href="/strobe-party/support">FAQ & Support</a>
  </p>
  <p>
    <a href="/strobe-party/privacy">Privacy Policy</a>
  </p>
</Layout>
