---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Strobe Light Party - Privacy Policy - Jasper Morgal">
  <h1>Strobe Light Party Privacy Policy</h1>
  <p>Strobe Light Party does not collect any user data that could be used to identify you.</p>
  <p>Strobe Light Party does log the number of times your device's strobe has flashed. This is not device specific and completely anonymous.</p>
  <p>
    <a href="/strobe-party">back</a>
  </p>
</Layout>
