body {
  color: black;
  background-color: #fcfcfc;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 8px 8px;
}

a {
  color: blue;
  text-decoration: none;
}

hr {
  border: none;
  height: 2px;
  background-color: #d0d0d0;
}

table {
  width: 100%;
}

td {
  width: 50%;
}

button,
input {
  color: black;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  padding: 4px 6px;
}

select {
  color: black;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}

.styled-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #0056b3;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #141414;
    color: #d0d0d0;
    color-scheme: dark;
  }

  hr {
    background-color: #383838;
  }

  a {
    color: #3b60f0;
  }

  button,
  input,
  select {
    color: white;
    background-color: #202020;
    border: 1px solid #383838;
  }
}
