body {
  color: black;
  background-color: #fcfcfc;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 8px 8px;
}

a {
  color: blue;
  text-decoration: none;
}

hr {
  border: none;
  height: 2px;
  background-color: #d0d0d0;
}

table {
  width: 100%;
}

td {
  width: 50%;
}

button,
input {
  color: black;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  padding: 4px 6px;
}

select {
  color: black;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}

.topnav {
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.topnav a {
  color: black;
  float: left;
  text-align: center;
  padding: 12px 12px;
  padding-bottom: 8px;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .topnav {
    display: flex;
    justify-content: center;
  }

  .topnav a {
    float: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #141414;
    color: #d0d0d0;
    color-scheme: dark;
  }

  hr {
    background-color: #383838;
  }

  a {
    color: #3b60f0;
  }

  button,
  input,
  select {
    color: white;
    background-color: #202020;
    border: 1px solid #383838;
  }

  .topnav a {
    color: #d0d0d0;
  }
}
