---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <title>World Population Full Screen - Jasper Morgal</title>
    <script is:inline src="/population.js"></script>
    <style>
      body {
        height: 100%;
        overflow: hidden;
        margin: 0;
      }

      p {
        text-align: center;
        font-family: "Menlo", monospace;
        font-size: 12vw;
        line-height: 97vh;
        margin: 0;
        padding: 0;
      }

      @media (prefers-color-scheme: dark) {
        body {
          background-color: #141414;
          color: #d0d0d0;
        }
      }
    </style>
  </head>
  <body>
    <p id="population">loading...</p>
  </body>
</html>
