---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Page Not Found - Jasper Morgal">
  <h1>404 Page Not Found</h1>
  <p>The page you're looking for doesn't exist or has been moved.</p>
  <a href="/">home</a>
</Layout>
