---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About Website - Jasper Morgal">
  <h1>About Website</h1>
  <p>Explore my website with projects from interesting time formats to text based games.</p>
  <!--<p>Check out <a href="/strobe-party">Strobe Light Party</a>, an app that lets you effortlessly sync your phone's strobe light with your friends' devices!</p>-->
  <p>I have a <a href="/projects/chat">public chat</a> where anyone can send messages that everyone can see.</p>
  <p>Here is an unbeatable <a href="/games/tictactoe">tic tac toe game</a>.</p>
  <p>Play the <a href="/games/prime-factorization">prime factorization challenge</a>!</p>
  <p>Here you can see a bunch of <a href="/projects/time">time formats</a> in real time.</p>
  <p>If you want to contact me you can email me at <a href="mailto:jpmorgal8@gmail.com">jpmorgal8@gmail.com</a>.</p>
</Layout>
