---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Jasper Morgal" activePage="home">
    <img src="/jasper-morgal.jpg" alt="Picture of Jasper Morgal" style="width: 175px; height: 175px; border-radius: 50%; display: flex; margin: 0 auto; margin-top: 20px;">
    <h1>Jasper Morgal</h1>
    <p>
        <a href="/about">About Website</a> | 
        <a href="https://github.com/Jasper-256">GitHub</a> | 
        <a href="https://www.linkedin.com/in/jasper-morgal/">LinkedIn</a> | 
        <a href="mailto:jpmorgal8@gmail.com">Email</a>
    </p>
</Layout>
