---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Jasper Morgal" activePage="home">
  <img src="/jasper-morgal.jpg" alt="Picture of Jasper Morgal" style="width: 165px; height: 165px; border-radius: 50%; display: flex; margin: 0 auto; margin-top: 20px;" />
  <h1>Jasper Morgal</h1>
  <p>
    <a href="https://github.com/Jasper-256">GitHub</a> |
    <a href="https://www.linkedin.com/in/jasper-morgal/">LinkedIn</a> |
    <a href="mailto:jpmorgal8@gmail.com">Email</a>
  </p>
  <br />
  <div class="columns">
    <div class="column">
      <h2>Apps</h2>
      <p><a href="/strobe-party">Strobe Party</a></p>
      <p><a href="/smolcam">Smolcam</a></p>
      <h2>Games</h2>
      <p><a href="/tictactoe">Tic-tac-toe</a></p>
      <p><a href="/othello">Othello</a></p>
      <p><a href="/qubic">Qubic</a></p>
      <p><a href="/y">Y</a></p>
      <p><a href="/pfc">Prime Factorization Challenge</a></p>
    </div>
    <div class="column">
      <h2>Misc</h2>
      <p><a href="/population">World Population</a></p>
      <p><a href="/chat">Public Chat</a></p>
      <h2>Time Formats</h2>
      <p><a href="/time">All Time Formats</a></p>
      <p><a href="/time/percent-time">Percent Time</a></p>
      <p><a href="/time/unix-prime">Unix Time Prime Factorization</a></p>
      <p><a href="/time/universe-age">Age of the Universe</a></p>
    </div>
  </div>

  <style>
    .columns {
      display: flex;
      justify-content: center;
      gap: 2rem;
      align-items: flex-start;
    }
    .column :first-child {
      margin-top: 0;
    }
    @media (max-width: 550px) {
      .columns {
        flex-direction: column;
        gap: 0px;
        align-items: center;
      }
    }
  </style>
</Layout>
