---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Projects - Jasper Morgal" activePage="projects">
  <h1>Projects</h1>
  <p>
    <a href="/projects/chat">Public Chat</a>
  </p>
  <p>
    <a href="/projects/population">World Population</a>
  </p>
  <br />
  <h2>Time Formats</h2>
  <p>
    <a href="/projects/time">All Time Formats</a>
  </p>
  <p>
    <a href="/projects/time/percent-time">Percent Time</a>
  </p>
  <p>
    <a href="/projects/time/unix-prime">Unix Time Prime Factorization</a>
  </p>
  <p>
    <a href="/projects/time/universe-age">Age of the Universe</a>
  </p>
</Layout>
