---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="World Population Info - Jasper Morgal">
  <h1>World Population Info</h1>
  <p>World population is the total number of humans living on earth.</p>
  <p>The population shown here is estimated based on the <a href="https://population.un.org/wpp/">United Nations 2024 Revision of World Population Prospects</a>.</p>
  <p>It is linearly extrapolated from this data to show the closest possible estimate of the world population in real time.</p>
  <p>Population data is accurate until 2026-07-11.</p>
  <p>Full screen version <a href="/projects/population-full-screen">here</a>.</p>
  <p><a href="/projects/population">back</a></p>
</Layout>
