---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="World Population - Jasper Morgal">
    <h1>World Population</h1>
    <p id="population" style="font-size: 11vmin; font-family: Menlo, monospace;">loading...</p>
    <p><a href="/projects/population-info">info</a></p>
    <script is:inline src="/projects/population.js"></script>
</Layout>
