---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Smolcam - Privacy Policy - Jasper Morgal">
  <h1>Smolcam Privacy Policy</h1>
  <p>Smolcam does not collect any user data that could be used to identify you.</p>
  <p>
    <a href="/smolcam">back</a>
  </p>
</Layout>
