---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Smolcam - Support - Jasper Morgal">
    <h1>Smolcam Support</h1>
    <p>For support with Smolcam or any questions you have, you can email me at <a href="mailto:jpmorgal8@gmail.com">jpmorgal8@gmail.com</a>.</p>
    <p>
        <a href="/smolcam">back</a>
    </p>
</Layout>
