---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="ISO Date Time - Jasper Morgal">
  <h1>ISO Date Time</h1>
  <p style="font-size: 14pt; font-family: Menlo, monospace;" id="time_long"></p>
  <p style="font-size: 14pt; font-family: Menlo, monospace;" id="time_short"></p>
  <script is:inline src="/time/iso-date-time.js"></script>
</Layout>
