---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Percent Time - Jasper Morgal">
  <h1>Percent Time</h1>
  <p style="font-size: 16vmin; font-family: Menlo, monospace;" id="time"></p>
  <script is:inline src="/time/percent-time.js"></script>
</Layout>
