---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Unix Time Prime Factorization - Jasper Morgal">
  <h1>Unix Time Prime Factorization</h1>
  <p id="unix" style="font-family: Menlo, monospace;">Enable javascript</p>
  <p id="factors" style="font-family: Menlo, monospace;"></p>
  <script is:inline src="/time/unix-prime.js"></script>
</Layout>

<style is:global>
  sup {
    line-height: 0;
  }
</style>
